.footer {
  padding: 0 13.3% 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media all and (max-width: 425px) {
  .footer {
    padding: 31px 3% 0;
    font-size: 14px;
    line-height: 17px;
  }
}
